<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Mailer</title>
</head>

<body>

	<div style="width:400px; margin:0 auto; font-family:Arial, Helvetica, sans-serif; border:#ececec thin solid;">

		<table cellpadding="0" cellspacing="0" style="background:#fff;" width="100%">
			<tr>
				<td><img src="https://staging.app.atrumart.com/assets/images/email_templates/order-banner.png" /></td>
			</tr>
		</table>

		<table cellpadding="0" cellspacing="0"
			style="background:#fff; padding:10px 20px; font-family:Tahoma, Geneva, sans-serif" width="100%">

			<tr>
				<td>
					<p style="font-size:17px; margin-bottom: 0px">Hi, <strong>{{name}}</strong></p>
				</td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td valign="top">
								<p style="font-size:14px; line-height: 20px; color:#000000">We’ve got your order! Your
									world is about to look a whole lot better.</p>
								<p style="font-size:14px; line-height: 30px; color:#828282">We will send you another
									email when your order ships.</p>
								<p style="font-size:14px; line-height: 30px; color:#262626"><strong>Order ID:</strong>
									{{orderId}}</p>
								<p style="font-size:13px; line-height: 30px; color:#29a69e; margin-bottom: 0">
									<strong>Your Order Details</strong></p>
								<table cellpadding="0" cellspacing="0" width="100%">
									{{orderItems}}
									<tr>
										<td colspan="2"
											style="font-size: 14px; line-height: 24px; padding:10px 0; text-align: right">
											Subtotal </td>
										<td
											style="font-size: 14px; line-height: 24px; padding:10px 0;  text-align: right">
											US$ {{taxSlug}} </td>
									</tr>
									<tr>
										<td colspan="2"
											style="font-size: 14px; line-height: 24px; padding:0; text-align: right">
											Shipping + Handling </td>
										<td style="font-size: 14px; line-height: 24px; padding:0;  text-align: right">
											US$ {{shippingAmt}} </td>
									</tr>
									<tr>
										<td colspan="2"
											style="font-size: 14px; line-height: 24px; padding:10px 0; text-align: right">
											Vat</td>
										<td
											style="font-size: 14px; line-height: 24px; padding:10px 0;  text-align: right">
											US$ {{vat}} </td>
									</tr>

									<tr>
										<td colspan="2"
											style="font-size: 13px; font-weight: bold; line-height: 24px; padding:5px 0; border-top:2px solid #eeeeee; border-bottom:2px solid #eeeeee; text-align: right">
											TOTAL </td>
										<td
											style="font-size: 15px; font-weight: bold; line-height: 24px; padding:5px 0; border-top:2px solid #eeeeee; border-bottom:2px solid #eeeeee;  text-align: right">
											US$ {{total}} </td>
									</tr>
								</table>


								<table cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td valign="top">
											<p style="font-size:13px; color:#000;  line-height:24px;">Shipping
												Address<br /><span
													style=" color:#828282; font-size:14px;">{{shippingAddress}}</span>
											</p>
										</td>
										<td valign="top">
											<p style="font-size:13px; color:#000;  line-height:24px;">Billing
												Address<br /><span
													style=" color:#828282; font-size:14px;">{{billingAddress}}</span>
											</p>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<p style="font-size:12px; color:#666; line-height:20px">
												Thanks<br />
												<strong>Atrum Team</strong>
											</p>
										</td>
									</tr>
								</table>

							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</div>

	<div style="text-align: center; font-family:Arial, Helvetica, sans-serif; margin-top: 20px">
		<p style="font-size: 13px; color: #5e5e5e; margin-bottom: 10px ">Follow us on</p>
		<p style="margin-top: 0">
			<a href="https://m.facebook.com/profile.php?id=100074522262832"><img
					src="https://staging.app.atrumart.com/assets/images/email_templates/fb.png"
					style="margin-right: 10px" /></a> <a href="https://twitter.com/atrum_sa?s=11"><img
					src="https://staging.app.atrumart.com/assets/images/email_templates/tw.png"
					style="margin-right: 10px" /></a> <a href="https://www.instagram.com/atrum.sa/"><img
					src="https://staging.app.atrumart.com/assets/images/email_templates/ins.png" /></a>
		</p>
		<p style="text-align:center; color:#000; margin-bottom: 0; font-size:12px; line-height: 20px;">Download App for
			more information</p>
		<p style="text-align:center; color:#000; margin-bottom: 0; margin-top: 5px; font-size:12px; line-height: 20px;">
			<a href="https://apps.apple.com/us/app/id1551766318"><img
					src="https://staging.app.atrumart.com/assets/images/email_templates/apple-logo.png"
					style="margin-right: 10px" /></a> <a
				href="https://play.google.com/store/apps/details?id=com.app.atrumart"><img
					src="https://staging.app.atrumart.com/assets/images/email_templates/google-logo.png"
					style=" " /></a></p>

		<p style="text-align:center; color:#000; margin-bottom: 0; font-size:12px; line-height: 20px;">Please visit <a
				href="https://atrumart.com/" style="color:#000000"><strong>https://atrumart.com/</strong></a></p>
		<p style="color: #4c4c4c; font-size: 11px; margin-top: 5px; margin-bottom: 5px; line-height: 18px">For any query
			please email us on <strong>hello@atrumart.com</strong></p>

	</div>


</body>

</html>