<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mailer</title>
</head>

<body style="background:#C9D9D6">

<div style="width:680px; margin:0 auto; padding:20px 50px; background:#C9D9D6; font-family:Arial, Helvetica, sans-serif">

<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
    	<td ><p style="text-align: center"><img src="https://staging.app.atrumart.com/assets/images/email_templates/logo.png" height="60" /></p></td> 
    </tr>
</table>
<table cellpadding="0" cellspacing="0" style="background:#fff; box-shadow: 10px 10px 40px #00000033; border:#ececec thin solid; padding:10px 20px; font-family:Tahoma, Geneva, sans-serif" width="100%" >
	<tr>
    	<td><p style="font-size:17px; margin-bottom: 10px">Hi, <strong>{{name}}</strong></p></td>
    </tr>
    <tr>
    	<td>        
        	<table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td  valign="top">
						<p style="margin-bottom:0; font-size:19px; line-height: 30px">We’ve calculated your shipping fees.</p> 
						<p style="font-size:18px; color:#828282; line-height: 25px;">Here’s a link to make your payment, which will direct you to a more detailed breakdown.</p>
						<p style="text-align: center; margin: 0"><a href="#" style="border: #000 thin solid; color: #fff; margin:0 0 10px 0; background: #000; padding: 13px 23px; display: inline-block; text-decoration: none; font-size: 17px; font-weight: normal">Make Payment</a></p>
						<p style="font-size:18px; color:#828282">Thank you for your purchase! </p>
						 
                    </td> 
                </tr>
            </table>
        </td>
    </tr>
    
     
</table>


<div style="text-align: center; font-family:Arial, Helvetica, sans-serif; margin-top: 20px"> 
		<p style="font-size: 13px; color: #5e5e5e; margin-bottom: 10px ">Follow us on</p>
		<p style="margin-top: 0">
			<a href="https://m.facebook.com/profile.php?id=100074522262832"><img src="https://staging.app.atrumart.com/assets/images/email_templates/fb.png" style="margin-right: 10px" /></a> <a href="https://twitter.com/atrum_sa?s=11"><img src="https://staging.app.atrumart.com/assets/images/email_templates/tw.png"  style="margin-right: 10px" /></a> <a href="https://www.instagram.com/atrum.sa/"><img src="https://staging.app.atrumart.com/assets/images/email_templates/ins.png" /></a>
		</p>  
		<p style="text-align:center; color:#000; margin-bottom: 0; font-size:12px; line-height: 20px;">Download App for more information</p>
		<p style="text-align:center; color:#000; margin-bottom: 0; margin-top: 5px; font-size:12px; line-height: 20px;"><a href="https://apps.apple.com/in/app/atrumart/id1607295318"><img src="https://staging.app.atrumart.com/assets/images/email_templates/apple-logo.png" style="margin-right: 10px" /></a> <a href="https://play.google.com/store/apps/details?id=com.app.atrumart"><img src="https://staging.app.atrumart.com/assets/images/email_templates/google-logo.png"  style=" " /></a></p>
	
		<p style="text-align:center; color:#000; margin-bottom: 0; font-size:12px; line-height: 20px;">Please visit <a href="https://atrumart.com/" style="color:#000000"><strong>https://atrumart.com/</strong></a></p>
		<p style="color: #4c4c4c; font-size: 11px; margin-top: 5px; margin-bottom: 5px; line-height: 18px">For any query please email us on <strong>hello@atrumart.com</strong></p> 
	
</div>



</div>

</body>
</html>
